body{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
#app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    padding: 10px;
    text-align: left;
}
label{
    margin-left: 5px;
}
input[type="checkbox"] + label{
    font-style: italic;
}
input[type="checkbox"]:checked + label{
    text-decoration: line-through;
}